section {
  padding: 50px 0;
}

.dark-blue,
.whale {
  background-color: $primary;
}

.greenish {
  background-color: $secondary;
}

.sea {
  padding: 200px 0;
}

.sea-container {
  text-align: center;

  p {
    text-align: start;
  }
}

.aquarium,
.ocean {
  display: flex;

  button {
    background-color: $primary;
    color: $solid-white;
  }
}

.aquarium {
  padding-bottom: 100px;

  .aquarium-img {
    width: 100%;
    margin-right: 30px;
  }
}

.ocean {
  text-align: right;

  .nemo-img {
    width: 50%;
    // margin-left: 60px;
  }
}

.solution,
.solution-two {
  display: flex;
  justify-content: space-evenly;

  .location-one,
  .community-one,
  .sheet-one,
  .phone-one {
    width: 100%;
  }
}

.whale {
  padding: 0;

  img {
    width: 100%;
  }
}

.fido .wrapper {
  display: flex;

  // .image-container,
  .text-container {
    flex-basis: 65%;

    p {
      padding-bottom: 20px;
    }
  }

  .image-container {
    margin-right: 120px;
    box-shadow: 2.3rem 1.5rem 0px 0.2rem $tertiary;
  }
}

.gallery {
  ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  li {
    display: block;
    // flex-basis: 32%;
    flex-basis: calc(32% - 50px);
  }
}

.touch {
  display: flex;

  h2 {
    padding-bottom: 25px;
  }
}

.info-container {
  margin-left: 50px;
  box-shadow: -32px 80px $tertiary;
  position: relative;
  bottom: 250px;
}

.social {
  width: 30%;
}

.swim {
  display: flex;

  .discovering {
    margin-left: 60px;
    width: calc(75% - 60px);

    h2 {
      padding-bottom: 20px;
    }
  }
}

.discovering-heading {
  position: relative;
  bottom: 200px;
  box-shadow: -21px 75px 0 0 $tertiary;
}

.swim-two {
  width: 25%;
  margin-top: 100px;
  padding: 20px;
  height: 50%;

  ul {
    flex-direction: column;
    list-style: disc;
    color: $solid-white;

    li {
      width: 100%;
    }
  }
}

.swim-two {
  li,
  p {
    font-size: 0.7rem;
  }
  img {
    // flex-grow: 1;
    position: relative;
    bottom: 30px;
    right: 60px;
  }
}

.tuesday,
.wednesday {
  display: flex;

  .picture-container {
    flex-basis: 50%;
    padding-top: 35px;
  }

  .day-container {
    margin-left: 25px;
  }
}

.comments h3 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}
