@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Lato&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #0c1423;
}

h1,
h2,
h3,
h4 {
  font-family: "Barlow", sans-serif;
  color: #fff;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
li,
button {
  text-transform: uppercase;
}

h1 {
  font-size: 6.9rem;
  line-height: 6.3rem;
}

h2 {
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
}

p,
a {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.aquarium button,
.ocean button,
.info-container button {
  background-color: #0c1423;
  color: #fff;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  max-width: 100%;
}

button {
  background-color: #86e0f9;
  padding: 15px 50px;
  border: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  padding: 0 10px;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

.hamburger-menu {
  display: none;
  position: absolute;
  right: 5%;
}
.hamburger-menu .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: #86e0f9;
}

header {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 30px 0;
}

.main-blue {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../assets/header-image.jpg) center;
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/header-image.jpg) center;
  background-size: cover;
}

.shark {
  background-image: url(../assets/blog-header.jpg);
}

.contact-orange {
  background-image: url(../assets/contact-header.jpg);
}

.fish-container {
  width: 50%;
  margin-bottom: 10px;
  position: relative;
  bottom: 150px;
  left: 52.7%;
}

h1 span {
  display: block;
}

footer {
  background: #86e0f9;
}
footer p {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  color: #0c1423;
}

section {
  padding: 50px 0;
}

.dark-blue,
.whale {
  background-color: #0c1423;
}

.greenish {
  background-color: #0f614e;
}

.sea {
  padding: 200px 0;
}

.sea-container {
  text-align: center;
}
.sea-container p {
  text-align: start;
}

.aquarium,
.ocean {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aquarium button,
.ocean button {
  background-color: #0c1423;
  color: #fff;
}

.aquarium {
  padding-bottom: 100px;
}
.aquarium .aquarium-img {
  width: 100%;
  margin-right: 30px;
}

.ocean {
  text-align: right;
}
.ocean .nemo-img {
  width: 50%;
}

.solution,
.solution-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.solution .location-one,
.solution .community-one,
.solution .sheet-one,
.solution .phone-one,
.solution-two .location-one,
.solution-two .community-one,
.solution-two .sheet-one,
.solution-two .phone-one {
  width: 100%;
}

.whale {
  padding: 0;
}
.whale img {
  width: 100%;
}

.fido .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fido .wrapper .text-container {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
.fido .wrapper .text-container p {
  padding-bottom: 20px;
}
.fido .wrapper .image-container {
  margin-right: 120px;
  -webkit-box-shadow: 2.3rem 1.5rem 0px 0.2rem #86e0f9;
          box-shadow: 2.3rem 1.5rem 0px 0.2rem #86e0f9;
}

.gallery ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.gallery li {
  display: block;
  -ms-flex-preferred-size: calc(32% - 50px);
      flex-basis: calc(32% - 50px);
}

.touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.touch h2 {
  padding-bottom: 25px;
}

.info-container {
  margin-left: 50px;
  -webkit-box-shadow: -32px 80px #86e0f9;
          box-shadow: -32px 80px #86e0f9;
  position: relative;
  bottom: 250px;
}

.social {
  width: 30%;
}

.swim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.swim .discovering {
  margin-left: 60px;
  width: calc(75% - 60px);
}
.swim .discovering h2 {
  padding-bottom: 20px;
}

.discovering-heading {
  position: relative;
  bottom: 200px;
  -webkit-box-shadow: -21px 75px 0 0 #86e0f9;
          box-shadow: -21px 75px 0 0 #86e0f9;
}

.swim-two {
  width: 25%;
  margin-top: 100px;
  padding: 20px;
  height: 50%;
}
.swim-two ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: disc;
  color: #fff;
}
.swim-two ul li {
  width: 100%;
}

.swim-two li,
.swim-two p {
  font-size: 0.7rem;
}
.swim-two img {
  position: relative;
  bottom: 30px;
  right: 60px;
}

.tuesday,
.wednesday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tuesday .picture-container,
.wednesday .picture-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 35px;
}
.tuesday .day-container,
.wednesday .day-container {
  margin-left: 25px;
}

.comments h3 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.info-container {
  width: 100%;
}
.info-container .forms {
  background-color: #0f614e;
  padding: 50px;
}
.info-container button {
  margin-top: 50px;
  width: 100%;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-container .input-one,
.form-container .input-two {
  width: 100%;
  margin: 40px 0;
  border-bottom: 2px solid #86e0f9;
}
.form-container .input-one {
  margin-right: 20px;
}

input,
textarea {
  color: #fff;
  width: 100%;
  padding: 15px;
  background-color: transparent;
}

input {
  border: none;
}

textarea {
  border: 2px solid #86e0f9;
  resize: none;
}

.blog-form button {
  background-color: #0f614e;
  color: #fff;
  width: 100%;
  margin-top: 25px;
}

@media (max-width: 1000px) {
  .aquarium,
.ocean,
.fido-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .fido .wrapper .image-container {
    padding-bottom: 25px;
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .ocean button {
    margin-bottom: 15px;
  }

  .gallery {
    padding: 25px 0;
  }

  .gallery li:last-child {
    display: none;
  }
  .gallery li:last-child li {
    width: 100%;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
}
@media (max-width: 800px) {
  .nav-links {
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0c1423;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  nav :checked ~ .nav-links {
    bottom: 0;
  }

  .hamburger-menu {
    display: block;
  }

  nav :checked ~ .hamburger-menu .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(225deg);
            transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .hamburger-menu .line:nth-child(2) {
    opacity: 0;
  }

  nav :checked ~ .hamburger-menu .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-225deg);
            transform: translateY(-10px) rotate(-225deg);
  }

  .fish-container {
    bottom: -100px;
  }

  .solution,
.solution-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .touch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .touch h2 {
    text-align: center;
  }
  .touch .info-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    margin-left: 0;
    bottom: 0;
  }
  .touch .social {
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  h1 {
    padding-top: 50px;
    font-size: 4.5rem;
  }

  .fish-container {
    display: none;
  }
}